*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(rgba(233, 231, 231, 0.767), rgba(194, 189, 189, 0.294)) url("https://healthtechmagazine.net/sites/healthtechmagazine.net/files/styles/cdw_hero/public/articles/%5Bcdw_tech_site%3Afield_site_shortname%5D/201911/20191127_HT_Web_Perfcon_AI-Security.jpg?itok=UKJcnaYC");
    background-position: center;
    background-size: cover;
    font-size: 30px;
    font-style: italic;
    color: blue;
}
.talk{
    margin-left: 38%;
    margin-top: 15%;
    height: 50px;
    width: 200px;
    font-size: 30px;
    font-style: italic;
    border-radius: 50px;
    cursor: pointer;
    background-color: rgb(3, 110, 172);
    color: white;
}
.content{
    margin-left: 28%;
    margin-top: 20px;
}